configstore/
evans/
fish/completions/
fish/conf.d/
fish/fish-kubectl-completions/
fish/fish_variables
fish/fishd.*
fish/fishfile
fish/functions/
fisherman/
gocode/
gtk-2.0/
heroku/
htop/
joplin-desktop/
nvim/.netrwhist
nvim/dein/cache_nvim
nvim/dein/state_nvim.vim
yarn/
